# Chapter 7 - Collaborative Analytics with Plotly
## Segment  2 - Creating statistical charts
#### Setting up to use Plotly within Jupyter

In [2]:
import numpy as np
import pandas as pd

import cufflinks as cf
import chart_studio as py
import chart_studio.tools as tls
from chart_studio.plotly import iplot

import sklearn
from sklearn.preprocessing import StandardScaler

In [3]:
f = open("../api_key.txt") # free up to 50 api calls per day. -->https://chart-studio.plot.ly/
lines = f.read().splitlines() 
f.close()

username=lines[1]
api_key=lines[2]

tls.set_credentials_file(username=username, api_key=api_key)

### Creating histograms
#### Make a histogram from a pandas Series object

In [4]:
address = '../Data/mtcars.csv'

cars = pd.read_csv(address)
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
cars.columns = ['car_names','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

hp = cars.hp
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
hp.iplot(kind='histogram', filename='simple-histogram-chart')

In [7]:
cars_subset = cars[['mpg', 'disp', 'hp']]

cars_data_std = StandardScaler().fit_transform(cars_subset)

cars_select = pd.DataFrame(cars_data_std)
cars_select.columns = ['mpg', 'disp', 'hp']

cars_select.iplot(kind='histogram', filename= 'multiple-histogram-chart')

In [8]:
cars_select.iplot(kind='histogram', subplots=True, filename= 'subplot-histograms')

In [9]:
cars_select.iplot(kind='histogram', subplots=True, shape=(3,1), filename= 'subplot-histograms')

In [10]:
cars_select.iplot(kind='histogram', subplots=True, shape=(1,3), filename= 'subplot-histograms')

### Creating box plots

In [11]:
cars_select.iplot(kind='box', filename= 'box-plots')

### Creating scatter plots

In [12]:
fig = {'data':[{'x': cars_select.mpg, 'y':cars_select.disp, 'mode':'markers', 'name':'mpg'},
              {'x': cars_select.hp, 'y':cars_select.disp, 'mode':'markers', 'name':'hp'}],
       'layout': {'xaxis':{'title':''}, 'yaxis':{'title':'Standardized Displacement'}}}

iplot(fig, filename= 'grouped-scatter-plot')